{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h1>About Me! (Kid in the front)</h1>
    <img src="{% static 'blog/images/bassCool.jpg'%}" height="900" alt="My image">
    <p>
          
    </p>
    <p>
        Hey there! My name is Oscar Sharaz Spencer.
        I am a motivated grade 11 Calgary, Alberta student who wants
        to make a change in this world through my software projects. When I heard about
        the theme of "Communication", I was ecstatic! Commuication is in my opinion the most vital
        component to all society. Communication has allowed humaity to grow in so many ways: through culture, opinion and art!
        I love music, talking and chess. Though computer science and software has been really challenging me
        throughout the years. Software really puzzles me at times, but lessons are very much accessible through the internet (allowing me to build websites in highschool!!).
    </p>
    <h5>The effects of COVID-19 on my life is the inspiration for this application:</h5>
    <p>
        During and after the COVID-19 pandemic, 
        so many people isolated themselves from humanity, locking themselves
        in their homes to protect their families. Many of my friends stopped talking to me online,
        I was basically stranded in my own home with no communication. What saddens me is that this has continued
        even after COVID-19 has left it's peak. My parents wanted me to stay in the house due to my previous Pneumonia's in my youth. 
        That's the last thing I wanted to do! I wanted to talk and communicate with others on something that everyone can post their ideas and stories on.
        Lack of communication is still present in my life, and this application
        will work towards changing that by letting everyone work towards making my app great by sharing their experiences!!
    </p>
{% endblock content %}

